# Como o objetivo é simplificar este arquivo, as demais definições
# padrões forma omitidas. A lista completa está disponível em:
# https://mariadb.com/kb/en/library/server-system-variables/

[mysqld]
port = 3306
datadir = /var/lib/mysql
character_set_server = utf8
collation_server = utf8_unicode_ci